@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body , html {
    background-color: lightblue;
}

header {
    background-color: #0a4fff;
    padding: 10px;
}

header > a {
    padding: 10px;
    display: block;
    text-align: center;
}

#logoself {
    width: 100px; /* diminuir tamanho da imagem original! */
    text-align: center;
}

#menusuperior {
    text-align: center;
}

#menusuperior li{
    display: inline-block;
    text-align: center;
    font-weight: bold;
    font-size: 0.8em;
    background-color: rgba(3, 209, 255, 0.500);
    border-radius: 5px;
    color: white;
    padding: 5px;
    margin: 2px 10px 2px 10px;
}

#menusuperior a {
    text-decoration: none;
    color: white;
}

section {
    width: 90vw;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;
    max-width: 768px;
    border-radius: 10px;
    box-shadow: 1px 1px 3px black;
}

h1 {
    text-align: center;
    padding: 10px;
}

p {
    text-align: justify;
    padding: 10px;
}

footer {
    margin: auto;
    text-align: center;
}

footer iframe {
    width: 95%;

}